:root {
	--dark-gray-hex: #323848;
	--dark-gray-rgb: 50, 56, 72;
	--orange-hex: #f79233;
	--orange-rgb: 247, 146, 51;
	--white-hex: #fff;
	--white-rgb: 255, 255, 255;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--white-hex);
	color: var(--dark-gray-hex);
	font-size: 16px;
	font-family: 'DM Sans', Arial, sans-serif;
	padding: 1em;
}

header {
	position: relative;
	display: flex;
	gap: 2em;
	align-items: center;
	justify-content: center;
	padding-inline: 2em;
	border-radius: 0.5em;
	background-color: #F79233;
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
	height: 100px;
	width: 100%;
}
header div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding-inline: 1em; */
	max-width: 1304px;
}

.menu-btn {
	order: 1;
	background: var(--white-hex);
	border: 0;
	padding: 20px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 68px;
	height: 68px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.menu-btn img {
	width: auto;
	height: auto;
}
.menu-icon-close {
	display: none;
}
.navigation {
	flex-grow: 1;
	margin-left: auto;
	opacity: 0;
	pointer-events: none;
	transition:
		opacity 300ms ease,
		transform 300ms ease;
}
.navigation.visible {
  opacity: 1;
  pointer-events: auto;
}

.navigation-list {
	display: flex;
	gap: 1em;
	justify-content: flex-end;
	align-items: center;
}
.navigation-list ul li a {
	text-decoration: none;
	color: inherit;
	color: var(--white-hex);
}

.btn {
	display: inline-block;
	padding: 1em 1.5em;
	border: 1px solid;
	border-radius: 3em;
	color: currentcolor;
	text-decoration: none;
}

.btn:hover, .btn:focus {
	background-color: orange;
	color: white;
}

.content-container {
	margin-block: 0;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: .5px;
}

.content-container + .btn-wrapper {
	margin-top: 1rem;
}

.section-title {
	margin-block: 0;
	font-weight: 700;
	font-size: 3.75em;
}

.section-title + .content-container {
	margin-top: 1rem;
}

.section-subtitle {
	margin-block: 0;
	font-weight: 500;
	font-size: 1.25em;
	line-height: 22px;
	letter-spacing: 0.5px;
}

.section-subtitle + .section-title {
	margin-top: 0.5rem;
}

button {
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
}

img {
	width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

#menu {
	padding: 10px;
}

footer {
	padding: 20px;
	border-radius: 0.5em;
	background: #222;
	color: #333;
	text-align: center;
}

main section {
	padding-block: 2em;
}

.width-container {
	max-width: 1304px;
	margin: 0 auto;
	/* padding-inline: 1em; */
}

.content .width-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em 4em;
	align-items: center;
}
.content .width-container div:nth-child(2) img{
	border-radius: 24px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
}
main section:nth-child(2) div.width-container{
	width: 50%;
	text-align: center;
	padding: .5em;
}
main section:nth-child(2) div.width-container .header-wrapper{
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
}
main section:nth-child(2) div.width-container .header-wrapper .content-container{
	padding-inline: 2em;
	margin-bottom: 3em;
}

#contact-form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5em;
	max-width: 500px;
	margin: 3em auto;
}
#contact-form label {
	display: none;
}

#contact-form input {
	width: 100%;
	height: 26px;
	border-radius: 50px;
	border: 1px solid var(--dark-gray-hex);
	padding: 1.3em;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 0.5px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	background: rgba(var(--dark-gray-rgb), 0.05);
	outline: none;
}

#contact-form input::placeholder {
	color: var(--dark-gray-hex);
	opacity: 1;
}

#contact-form button {
	justify-self: center;
	border-radius: 50px;
	border: 1px solid var(--dark-gray-hex);
	background: transparent;
	padding: 6px 14px;
	font-size: 16px;
	cursor: pointer;
	width: 96px;
	height: 48px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}

@media (max-width: 1000px) {
	.width-container {
		padding-inline: 2em;
	}
}
@media (min-width: 1600px){
	main section:nth-child(2) div.width-container .header-wrapper .content-container{
		padding-inline: 3em;
		margin-bottom: 3em;
		width: 60%;
	}
}
@media screen and (max-width: 950px){
	.content .width-container {
    	grid-template-columns: 1fr;
  	}
	.content-container {
    	font-size: 1em;
  	}
	.navigation.visible {
		transform: translate(0, 0);
	}
	.navigation{
		position: absolute;
		top: 100%;
		left: 0;
		width: calc(100% - 20px);
		transform: translate(0, -2em);
	}
	.navigation-list {
		flex-direction: column;
		align-items: flex-start;
	}
}

@media (max-width: 700px) {
	.width-container {
		padding-inline: 1em;
	}
}