:root {
	--dark-gray-hex: #323848;
	--dark-gray-rgb: 50, 56, 72;
	--orange-hex: #f79233;
	--orange-rgb: 247, 146, 51;
	--white-hex: #ffffff;
	--white-rgb: 255, 255, 255;
	--red-hex: #e94b4b;
	
}
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--white-hex);
	color: var(--dark-gray-hex);
	font-size: 16px;
	font-family: 'DM Sans', Arial, sans-serif;
	padding: 1em;
}

header {
	position: relative;
	display: flex;
	gap: 2em;
	align-items: center;
	justify-content: center;
	padding-inline: 2em;
	border-radius: 0.5em;
	background-color: #F79233;
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
	height: 100px;
	width: 100%;
}
header div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding-inline: 1em; */
	max-width: 1304px;
}

.menu-btn {
	order: 1;
	background: var(--white-hex);
	border: 0;
	padding: 20px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 68px;
	height: 68px;
}
.menu-btn img {
	width: auto;
	height: auto;;
}
.menu-icon-close {
	display: none;
}
header #menu {
  	flex-grow: 1;
  	margin-left: auto;
  	opacity: 0;
  	visibility: hidden;
  	pointer-events: none;
  	transition: opacity 300ms ease,visibility 0s linear 300ms;
}
header #menu.visible {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 300ms ease ;
}

header #menu ul {
	display: flex;
	gap: 1em;
	justify-content: flex-end;
	align-items: center;
	margin-inline: 3em;
}
header #menu ul li a {
	text-decoration: none;
	color: var(--white-hex);
	font-weight: 600;
	font-size: 18px;
}
header #menu ul li a:hover{
	color: rgba(var(--white-rgb), 70%);
	transition: all .3s ease-in-out;
}
.btn {
	display: inline-block;
	padding: 1em 1.5em;
	border: 1px solid var(--dark-gray-hex);
	border-radius: 3em;
	color: currentcolor;
	text-decoration: none;
}

.btn:hover, .btn:focus, #contact-form button:hover, #contact-form button:focus {
	background-color: orange;
	color: white;
	transition: all .3s ease-in-out;
}

.content-container {
	margin-block: 0;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: .5px;
}

.content-container + .btn-wrapper {
	margin-top: 1rem;
}

.section-title {
	margin-block: 0;
	font-weight: 700;
	font-size: clamp(1.5rem, 4vw, 3.75rem);
}

.section-title + .content-container {
	margin-top: 1rem;
}

.section-subtitle {
	margin-block: 0;
	font-weight: 500;
	font-size: 1.25em;
	line-height: 22px;
	letter-spacing: 0.5px;
}

.section-subtitle + .section-title {
	margin-top: 0.5rem;
}

button {
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
}

img {
	width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

#menu {
	padding: 10px;
}


main section {
	padding-block: 2em;
}

.width-container {
	max-width: 1304px;
	margin: 0 auto;
	/* padding-inline: 1em; */
}

.content .width-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em 4em;
	align-items: center;
	margin-top: 2em;
}
.content .width-container div:nth-child(2) img{
	object-fit: cover;
	border-radius: 1.5em;
}
main section:nth-child(2) div.width-container{
	width: 50%;
	text-align: center;
	padding: .5em;
}
main section:nth-child(2) div.width-container .header-wrapper{
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
}
main section:nth-child(2) div.width-container .header-wrapper .content-container{
	padding-inline: 2em;
}

#contact-form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.7em;
	max-width: 500px;
	margin: 3em auto;
}
#contact-form label {
	display: none;
}

#contact-form input {
	width: 100%;
	height: 26px;
	border-radius: 3.125em;
	border: 1px solid var(--dark-gray-hex);
	padding: 1.3em;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 0.5px;
	background: rgba(var(--dark-gray-rgb), 0.05);
	outline: none;
}

#contact-form input.input-error{
	border-color: var(--red-hex);
}
#contact-form input.input-error::placeholder{
	color: var(--red-hex)
	
}
#contact-form input::placeholder {
	color: var(--dark-gray-hex);
	opacity: 1;
}

#contact-form button {
	justify-self: center;
	border-radius: 3.125em;
	border: 1px solid var(--dark-gray-hex);
	background: transparent;
	padding: 6px 14px;
	font-size: 16px;
	cursor: pointer;
	width: 96px;
	height: 48px;
}
#contact-form .form-status{
	color: var(--red-hex);
	text-align: center;
	font-size: 12px;
	/* margin: 0.2em 1em; */
}
footer {
	padding: 20px;
	border-radius: .5em;
	background: var(--dark-gray-hex);
	color: var(--white-hex);
	text-align: center;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.5px;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer a {
	color: var(--white-hex);
	text-decoration: none;
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 85px;
	right: 3em;
	background-color: var(--orange-hex);
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	display: flex;
	opacity: 0;
	box-shadow: 0px 4px 16px 0px #00000040;
	pointer-events: none;
	transition: opacity 300ms ease;
}

footer a img{
	width: 16px;
	height: 21px;
	filter: brightness(0) invert(1);
	-webkit-filter: brightness(0) invert(1);
}
footer a.visible {
	opacity: 1;
	pointer-events: auto;
  	transition: opacity 0.5s ease-in-out;

}
@media (max-width: 1000px) {
	.width-container {
		padding-inline: 2em;
	}
}
@media (min-width: 1600px){
	main section:nth-child(2) div.width-container .header-wrapper .content-container{
		padding-inline: 3em;
		width: 60%;
	}
}
@media screen and (max-width: 950px){
	header {
		padding-inline: 1em;
	}
	header #menu{
		position: absolute;
		top: 100%;
		left: 0;
		width: calc(100% - 20px);
		transform: translate(0, -2em);
	}
	header #menu.visible {
		transform: translate(0, 0);
		background-color: var(--orange-hex);
		width: 100%;
		border-radius: .5em;
		margin-top: .5em;
}
	header #menu.visible ul {
		flex-direction: column;
	}
	header #menu.visible ul li{
		margin: 2em 0;
	}
	header #menu.visible ul li a{
		font-size: 22px;
	}

	.content .width-container {
    	grid-template-columns: 1fr;
	}
	.content-container {
		font-size: 16px;
	}
	.content .width-container div:nth-child(2) img{
		height: 354px;
		width: 100%;
		object-fit: cover;
	}
	main section:nth-child(2) div.width-container{
		width: 100%;
		text-align: start;
		padding: .5em 1.2em;
	}
	main section:nth-child(2) div.width-container .header-wrapper{
		flex-direction: column;
		display: flex;
		align-items: start;
		justify-content: center;
	}
	main section:nth-child(2) div.width-container .header-wrapper .content-container{
		padding-inline: 0;
	}
	#contact-form{
		gap: 0;
	}
	#contact-form input{
		margin-bottom: 1.5em;
	}
	#contact-form {
		display: flex;
		justify-content: start;
		flex-direction: column;
	}
	#contact-form .form-status{
		text-align: start;
		margin-bottom: 1em;
	}
	footer a {
        bottom: 90px;
        left: 50%;
        transform: translateX(-50%);
}
}

@media (max-width: 700px) {
	.width-container {
		padding-inline: 1em;
	}
}